<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>
    <typeAliases>
      	<typeAlias type="java.lang.Long" alias="Long"/>
  		<typeAlias type="java.util.List" alias="List"/>	
  		<typeAlias type="java.util.Map" alias="Map"/> 
		<typeAlias type="com.workmotion.app.templete.TempleteDTO" alias="TempleteDTO"/>
		<typeAlias type="com.workmotion.app.document.util.Pager" alias="Pager" />
		<typeAlias type="com.workmotion.app.document.DocumentDTO" alias="DocumentDTO"/>	
		<typeAlias type="com.workmotion.app.document.file.DocumentFileDTO" alias="DocumentFileDTO"/>
		<typeAlias type="com.workmotion.app.department.DepartmentDTO" alias="DepartmentDTO"/>

		<typeAlias type="com.workmotion.app.member.MemberDTO" alias="MemberDTO"/>
		<typeAlias type="com.workmotion.app.member.Avatar" alias="Avatar"/>		    


    	<typeAlias type="com.workmotion.app.position.PositionDTO" alias="PositionDTO"/>

		<typeAlias type="com.workmotion.app.company.CompanyDTO" alias="CompanyDTO"/>


    </typeAliases>
</configuration>