<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.workmotion.app.project.dao.ArticleDAO">

    <sql id="getMember">
        SELECT m.*, r.name as role_name, d.name as department_name, p.name as position_name
        FROM MEMBER m
        LEFT JOIN ROLE r ON m.ROLE_ID = r.ID
        LEFT JOIN DEPARTMENT d ON m.DEPARTMENT_ID = d.ID
        LEFT JOIN POSITION p ON m.POSITION_ID = p.ID
    </sql>
    <resultMap id="getMemberResult" type="MemberDTO" autoMapping="true">
        <association property="role" javaType="RoleDTO">
            <result column="role_name" property="name"/>
        </association>
        <association property="department" javaType="DepartmentDTO">
            <result column="department_name" property="name"/>
        </association>
        <association property="position" javaType="positionDTO">
            <result column="position_name" property="name"/>
        </association>
    </resultMap>

    <insert id="createArticle" parameterType="ArticleDTO">
        INSERT INTO ARTICLE (ID,PROJECT_ID,TITLE,CONTENT,CREATE_DT,WRITER_ID)
        VALUES (ARTICLE_SEQ.NEXTVAL, #{project_id}, #{title,jdbcType=VARCHAR}, #{content}, SYSDATE, #{writer_id})
    </insert>
    <select id="getArticleList" parameterType="ProjectDTO" resultMap="getArticleResult">
        <include refid="com.workmotion.app.project.dao.CrewDAO.getMember">
            <property name="alias" value=",at.*"/>
        </include>
        LEFT JOIN ARTICLE at ON at.writer_id = m.id
        WHERE at.project_id = #{id}

    </select>
    <resultMap id="getArticleResult" type="ArticleDTO" autoMapping="true">
        <association property="writer" javaType="MemberDTO"
                     resultMap="com.workmotion.app.project.dao.CrewDAO.getMember"/>
    </resultMap>

    <update id="updateArticle" parameterType="ArticleDTO">
        UPDATE ARTICLE SET TITLE=#{title}, CONTENT=#{content}, UPDATE_DT = #{update_dt}
    </update>
    <delete id="deleteArticle" parameterType="ArticleDTO">
        DELETE FROM ARTICLE WHERE ID = #{id}
    </delete>
</mapper>