<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.workmotion.app.board.BoardDAO">

	<select id="totalCount" resultType="Long" parameterType="Pager">
		SELECT COUNT(*) FROM BOARD b
		WHERE title LIKE '%'||#{search}||'%'
	</select>

	<select id="getBoardList" resultType="Map" parameterType="Map">
		SELECT
		* FROM
		(
		SELECT ROWNUM RG , A.* FROM
		(
		SELECT *
		FROM BOARD B
		LEFT JOIN
		CATEGORY c
		ON(B.category_id = c.id)
		WHERE c.name = #{category.name}, B.title LIKE '%'||#{search}||'%'
		) A
		) R
		WHERE RG BETWEEN #{pager.startRow} AND #{pager.lastRow}
	</select>

	<select id="getBoardDetail" resultType="BoardDTO"
		parameterType="BoardDTO">
		SELECT * FROM BOARD
		WHERE ID = #{id}
	</select>

</mapper>