<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.workmotion.app.chat.ChatDAO">
    <insert id="createRoom" parameterType="RoomDTO">
        INSERT INTO ROOM (name) VALUES (#{name})
    </insert>
    <insert id="addMember" parameterType="Map">
        INSERT INTO ROOM_MEMBER (MEMBER_ID,ROOM_NAME,JOIN_DT,RECENTLY_DT)
        <foreach collection="members" item="member_id" separator="UNION ALL">
            SELECT #{member_id}, #{room_name}, CURRENT_TIMESTAMP, CURRENT_DATE FROM DUAL
        </foreach>
    </insert>
    <select id="getRoom" parameterType="RoomDTO" resultType="RoomDTO">
        SELECT * FROM ROOM WHERE NAME = #{name}
    </select>
    <insert id="sendMessage" parameterType="MessageDTO">
        INSERT INTO MESSAGE (ID, MESSAGE, TIME, SENDER_ID, ROOM_NAME)
        VALUES (MESSAGE_SEQ.NEXTVAL, #{message}, #{time}, #{sender_id}, #{room_name})
    </insert>
    <update id="updateRoomInfo" parameterType="RoomInfoDTO">
        UPDATE ROOM_MEMBER
        <set>
            <if test="join_dt != null">
                JOIN_DT = #{join_dt}
            </if>
            RECENTLY_DT = CURRENT_TIMESTAMP
        </set>
        WHERE MEMBER_ID = #{member_id} AND ROOM_NAME = #{room_name}
    </update>
    <select id="getMessage" parameterType="Map" resultType="MessageDTO">
        SELECT * FROM
        (
        SELECT
        m.*
        FROM MESSAGE m
        LEFT JOIN ROOM_MEMBER rm ON m.ROOM_NAME = rm.ROOM_NAME AND rm.ROOM_NAME LIKE #{roomInfo.room_name}
        WHERE rm.MEMBER_ID = #{roomInfo.member_id} AND rm.RECENTLY_DT &lt;= m."TIME"
        UNION ALL
        SELECT a.ID, a.MESSAGE, a.SENDER_ID, a.ROOM_NAME, a.TIME FROM
        (
        SELECT ROWNUM rn, b.* FROM
        (
        SELECT
        m.*
        FROM MESSAGE m
        LEFT JOIN ROOM_MEMBER rm ON m.ROOM_NAME = rm.ROOM_NAME AND rm.ROOM_NAME LIKE #{roomInfo.room_name}
        WHERE rm.MEMBER_ID = #{roomInfo.member_id} AND rm.RECENTLY_DT &gt; m."TIME"
        ORDER BY m.TIME DESC
        ) b
        ) a
        WHERE a.rn BETWEEN #{pager.startNum} AND #{pager.lastNum}
        )
        ORDER BY "TIME" ASC
    </select>
    <select id="getRoomInfo" parameterType="RoomInfoDTO" resultType="RoomInfoDTO">
        SELECT * FROM ROOM_MEMBER WHERE ROOM_NAME = #{room_name} AND MEMBER_ID = #{member_id}
    </select>
</mapper>