<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.workmotion.app.department.DepartmentDAO">

	<select id="getTotalCount" resultType="Long"
		parameterType="Pager">
		SELECT Count(id) FROM department
	</select>

	<select id="getDepartmentList" resultType="DepartmentDTO"
		parameterType="Pager">
		SELECT * FROM
		(SELECT ROWNUM N, R.* FROM
		(SELECT * FROM
		DEPARTMENT) R)RG
		WHERE N BETWEEN #{startRow} AND #{lastRow}
	</select>

	<select id="getDepartmentDetail" resultType="MemberDTO"
		parameterType="MemberDTO">
		SELECT * FROM member
		WHERE DEPARTMENT_ID
		=#{department_id}
	</select>

	<select id="getMemberList" resultType="Map"
		parameterType="Pager">
		SELECT * FROM
		(
		SELECT ROWNUM RG ,R.* FROM
			(
				SELECT m.*, d.name AS department_name
				FROM MEMBER m
				JOIN DEPARTMENT d
				ON (m.DEPARTMENT_ID = d.ID)
				ORDER BY
				m.department_id ASC, m.id ASC
			)R
		)
		WHERE RG BETWEEN #{startRow} AND
		#{lastRow}
	</select>


	<update id="createDepartment" parameterType="MemberDTO">
		UPDATE
		(SELECT * FROM
		MEMBER
		WHERE id =#{id}) T
		SET T.department_id=#{department_id}
	</update>
</mapper>