<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
<mapper namespace="com.workmotion.app.document.DocumentDAO">

 	<insert id="createDocument" parameterType="DocumentDTO">	
		INSERT INTO DOCUMENT
		(ID,TITLE,CONTENT,TEMPLETE_ID,CREATE_DT,MEMBER_ID,REFERRER,SAVE,PERIOD,PHONE,DEADLINE)
		VALUES
		(DOCUMENT_SEQ.NEXTVAL,#{title},#{content},#{templete_id},#{create_dt},#{member_id},#{referrer},#{save},#{period},#{phone},{deadline})
	</insert> 

</mapper>