<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
<mapper namespace="com.workmotion.app.document.DocumentDAO">


  	<insert id="createDocument" parameterType="DocumentDTO">
  		<selectKey keyProperty="id" order="BEFORE" resultType="Long">
  			SELECT DOCUMENT_SEQ.NEXTVAL FROM DUAL  			
  		</selectKey>	
		INSERT INTO DOCUMENT
		(ID,TITLE,CONTENT,TEMPLETE_ID,CREATE_DT,MEMBER_ID,TEMPORARY_SAVE,PERIOD,PHONE,DEADLINE)
		VALUES
		(#{id},#{title},#{content},#{templete_id},#{create_dt},#{member_id},#{temporary_save},#{period,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},#{deadline,jdbcType=DATE})
	</insert>  
	
	<insert id="createFiles" parameterType="DocumentFileDTO">
		INSERT INTO DOCUMENT_FILE 
		VALUES(DOCUMENT_FILE_SEQ.NEXTVAL,#{document_id},#{name},#{ori_name})	
	</insert>
	
	<insert id="createReferrer" parameterType="ReferrerDTO">
		INSERT INTO REFERRER 
		VALUES(#{document_id},#{member_id})
	</insert>	
	

</mapper>