<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
<mapper namespace="com.workmotion.app.member.MemberDAO">

<!-- 		<select id="totalCount" resultType="MemberDTO">
		SELECT COUNT(*)FROM member
		</select>
		
		<select id="getMemberList" parameterType="map" resultType="MemberDTO">
			SELECT * FROM
			(
			SELECT ROWNUM R , MR.* FROM
			(
			SELECT * FROM member ORDER BY id DESC)
			MR) 
			WHERE R BETWEEN #{pager.startRow} AND #{pager.lastRow}
		</select>
		
		<select id="getMemberDetail" parameterType="MemberDTO" resultMap="getMemberDetailResult">
		SELECT * FROM member LEFT JOIN avatar USING(id) WHERE #{id}	
		</select>
		<resultMap type="MemberDTO" id="getMemberDetailResult">
		<id column="id" property="id"/>
		<result column="rold_id" property="role_id"/>
		<result column="company_id" property="company_id"/>
		<result column="email" property="email"/>
		<result column="password" property="password"/>
		<result column="name" property="name"/>
		<result column="department_id" property="department_id"/>
		<result column="position_id" property="position_id"/>
		<association property="avatar" javaType="Avatar">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="origin_name" property="origin_name"/>
		</association>
		</resultMap> -->
		
	
		<insert id="createMember" parameterType="MemberDTO">
		INSERT INTO member VALUES(member_SEQ.NEXTVAL,0,0,
		#{email},#{password},#{name},0,0,#{phone})
		</insert>
	
<!-- 		<delete id="deleteMember" parameterType="MemberDTO">
		DELETE member WHERE #{id}
		</delete>
	
		<update id="updateMember" parameterType="MemberDTO">
		UPDATE member <set>
		<if test="role_id != null or role_id !=''">
		role_id = #{role_id},</if>
		<if test="company_id !=null or company_id !=''">
		company_id = #{company_id},</if>		
		<if test="email != null or email !=''">
		email = #{email},</if>
		<if test="password !=null or password !=''">
		password = #{password},</if>
		<if test="name != null or name !=''">
		name = #{name},</if>
		<if test="department_id !=null or department_id !=''">
		department_id = #{department_id},</if>
		<if test="position_id !=null or position_id != ''">
		position_id = #{position_id}
		</if>

		</set>
		WHERE id = #{id}
		</update> -->
	
</mapper>