<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.workmotion.app.notification.NotificationDAO">
    <select id="getNotification" parameterType="MemberDTO" resultType="NotificationDTO">
        SELECT * FROM NOTIFICATION WHERE MEMBER_ID = #{id} AND IS_READ = 0
    </select>
    <insert id="addNotification" parameterType="NotificationDTO">
        INSERT INTO NOTIFICATION (ID, MEMBER_ID, TYPE_NAME, CONTENT, TIME, IS_READ)
        VALUES (NOTIFICATION_SEQ.NEXTVAL, #{MEMBER_ID}, #{TYPE_NAME}, #{CONTENT}, CURRENT_TIME, 0}
    </insert>
    <update id="updateNotification" parameterType="Map">
        UPDATE NOTIFICATION SET IS_READ = 1 WHERE MEMBER_ID = #{notification.member_id} AND ID IN
        <foreach collection="id.split(',')" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>