<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.workmotion.app.referrer.ReferrerDAO">
	<!-- 작성자,제목 검색  -->
	<sql id="search">			
			<if test="kind=='kind1'">
				M.NAME LIKE '%'||#{search}||'%'
			</if>
			<if test="kind=='kind2'">
				OR D.TITLE LIKE '%'||#{search}||'%'
			</if>			
	</sql>

	<!-- 참조인으로 저장된 서류 검색 -->
	<select id="getList" parameterType="Pager" resultMap="referrerResult">
		SELECT * FROM (
			SELECT ROWNUM T,RD.* FROM(
				(SELECT R.MEMBER_ID,D.ID,M.NAME,D.TITLE,D.CREATE_DT FROM REFERRER R
						FULL JOIN DOCUMENT D
						ON (R.DOCUMENT_ID = D.ID)
						FULL JOIN MEMBER M
						ON (M.ID = D.MEMBER_ID)
						WHERE <include refid="search"></include>
						AND R.MEMBER_ID = #{member_id}
						ORDER BY D.CREATE_DT DESC
						)RD
					)
				)
		WHERE T BETWEEN #{startRow} AND #{lastRow}
	</select>
	<resultMap type="ReferrerDTO" id="referrerResult">
		<id column="DOCUMENT_ID" property="document_id"/>
		<id column="MEMBER_ID" property="member_id"/>
		<association property="documentDTO" javaType="DocumentDTO">
			<id column="ID" property="id"/>
			<result column="TITLE" property="title"/>
			<result column="CREATE_DT" property="create_dt"/>			
		</association>
		<association property="memberDTO" javaType="MemberDTO">
			<id column="ID" property="id"/>
			<result column="NAME" property="name"/>
		</association>
		
	</resultMap>
	
	<!-- 총 페이지 수  -->
	<select id="getTotalCount" resultType="Long" parameterType="Pager">
		SELECT COUNT(R.MEMBER_ID)  FROM REFERRER R
						FULL JOIN DOCUMENT D
						ON (R.DOCUMENT_ID = D.ID)
						FULL JOIN MEMBER M
						ON (M.ID = D.MEMBER_ID)
		WHERE <include refid="search"></include>
		AND R.MEMBER_ID = #{member_id}
	</select>	
	

</mapper>