<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.workmotion.app.referrer.ReferrerDAO">

	<select id="">
		SELECT * FROM (
			SELECT ROWNUM T,RD.* FROM(
				(SELECT D.ID,D.TITLE,D.CREATE_DT FROM REFERRER R
						RIGHT JOIN DOCUMENT D
						ON (R.DOCUMENT_ID = D.ID)
						WHERE D.ID = #{document_id}
						ORDER BY D.CREATE_DT DESC
						)RD
					)
				)
		WHERE T BETWEEN #{startRow} AND #{lastRow}
	</select>

</mapper>