<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.workmotion.app.project.task.TaskDAO">
    <insert id="createTask" parameterType="TaskDTO">
        INSERT INTO TASK (ID, NAME, CREATE_DT, PROJECT_ID, CONTENT) VALUES (TASK_SEQ.NEXTVAL, #{name}, #{create_dt},
        #{project_id}, #{content})
    </insert>
    <select id="getTaskDetail" parameterType="TaskDTO" resultType="TaskDTO">
        SELECT *
        FROM TASK
        WHERE ID = #{id}
    </select>
    <select id="getTaskList" parameterType="TaskDTO" resultType="TaskDTO">
        SELECT *
        FROM TASK
        WHERE project_id = #{project_id}
        ORDER BY CREATE_DT DESC
    </select>
</mapper>