<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
<mapper namespace="com.workmotion.app.tna.TnaDAO">

	<!--출근-->
	<insert id="getinTna" parameterType="MemberDTO">
	INSERT INTO tna VALUES(TNA_SEQ.NEXTVAL,SYSDATE,default,1,#{id},#{company_id})
	</insert>
	
	<!--퇴근-->
	<update id="getoutTna" parameterType="MemberDTO">
	UPDATE tna
	SET FINISH_TIME = SYSDATE
	WHERE MEMBER_ID = #{id}                
	AND id = (SELECT MAX(id) FROM tna WHERE MEMBER_ID = #{id}) <!--서브쿼리 실행 -->
	</update>
	

	
	











</mapper>