<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
<mapper namespace="com.workmotion.app.tna.TnaDAO">


	<insert id="getinTna" parameterType="MemberDTO">
		INSERT INTO tna VALUES(TNA_SEQ.NEXTVAL,SYSDATE,0,1,#{id},#{company_id})
	</insert>














</mapper>