<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.workmotion.app.tosspayment.TossPaymentDAO">

	<insert id="getTossPaymentDetail"  parameterType="TossPaymentDTO">
		INSERT INTO tosspayment
		VALUES(tosspayment_seq.nextval,#{orderId},#{amount},#{paymentKey},#{member_id})
	</insert>
</mapper>